<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Welcome</title>
    <!--    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>-->
</head>
<body>

<table border="3px">
    <thead>
    <tr>
        <th> ID</th>
        <th> NAME</th>
        <th> STATUS</th>
        <th> CATEGORY</th>
        <th> PRICE</th>
    </tr>
    </thead>
    <tbody>
    <th:block th:each="product : ${productList}">
        <tr>
            <td th:text="${product.getId()}"></td>
            <td th:text="${product.getTitle()}"></td>
            <td th:text="${product.getStatus()}"></td>
            <td th:text="${product.getCategory()}"></td>
            <td th:text="${product.getPrice()}"></td>
        </tr>
    </th:block>
    </tbody>
</table>




</body>
</html>